block variables
include ../includes/head.pug
include ../utils/mixins

body
	include ../includes/header/header
	block header
	block content
	include ../includes/footer/footer
	block footer
	include ../includes/scripts.pug
	